# Android/IntelliJ
.idea/
.gradle/
local.properties
*.iml
*.hprof

# Build outputs
app/build/
*/build/

# Gradle
gradlew.bat
gradlew

# Firebase config (provide locally)
app/google-services.json

# Misc
.DS_Store
*.log

# Local docs
prosposta_de_projeto_dispositivos_moveis (1).pdf

# Google Services (Segurança)
google-services.json

# Android Studio
*.jks
*.keystore
